ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Gill Sans, sans-serif;
  background-color: #1DB954;
}

li {
  float: left;
}

li a {
  display: block;
  color: #191414;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: white;
}

.active {
  background-color: white;
}
