table, th, td {
  font-family: Gill Sans, sans-serif;
  font-size: 18px;
  border: 2px solid white;
  border-collapse: collapse;
}

th {
  padding: 15px;
  text-align: left;
  background-color: #000000;
  color: #FFFFFF;
}

td {
  padding: 15px;
  text-align: left;
  background-color: #1DB954;
  color: #000000;
}
